* {
    margin: 0;
    padding: 0;
 box-sizing: border-box;
  }
  
  @function pr($p) {
    @return $p/32+rem;
  }
  a{
      text-decoration: none;
  }
  html,
  body {
    width: 100%;
    height: 100%;
  }

//   底部部分
footer {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: pr(50); // height: 50px;
    background-color: #ccc;
    display: flex;
    font-size: pr(16);
    justify-content: space-around;
    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: .5;
      &.active {
        opacity: 1;
      }
      &:nth-child(3) {
        opacity: 1;
      }
      img {
        height: pr(20);
      }
      span {
        font-size: pr(16);
      }
    }
  }